$menu_contact_hover: #2196f3;
$menu_contact: #757575;
$menu_contact_path: #2196f3;
$logo: #000101;
$link: #2196f3;
$link_after: #2196f3;
$contact_us_link: #2196f3;
$link_active: #2196f3;
$link_hover: #2196f3;
$link_background: #2196f3;
$span: #2196f3;
$contacts: #212121;
$linkk: #212121;
$contact_us: #ffffff;
$contact_title: #ffffff;


$title: #ffffff;
$btn: #2196f3;

$item_title: #212121;
$item_p: #757575;

$title: #212121;

$name: #212121;
$background: #f5f4fa;
$promo_title: #212121;
$background_card: #ffffff;
$link_hoverr: #ffffff;
$subtitle: #757575;
$link_i: #afb1b8;
$background_hover: #2196f3;

$link: #AFB1B8;
$border: #2196F3;
$hover: #2196F3;

$background: #2f303a;
$address: #ffffff;
$title: #ffffff;
$us: #ffffff;
$hover: #2196f3;
$team_apps_link_i: #afb1b8;
$hover_i: #ffffff;
$telegram_title: #ffffff;
$telegram_btn: #ffffff;
$telegram_btn_background: #2196f3;

$btn_item: #212121;
$btn_item_hover: #2196f3;

$card_item_bg: #ffffff;
$card_item_border: #eeeeee;
$card_link: #212121;
$card_name: #757575;