$white: #ffffff;
$blue: #2196f3;
$grey: #757575;
$black: #000101;
$black_text: #212121;
$black_background: #2f303a;
$grey_link: #afb1b8;
$white_border: #eeeeee;
$white_bg: #f5f4fa;
$black_modal: #000000;
$orange: #fd9222;
