%team__subtitle {
  color: $subtitle;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
  margin-top: 10px;
}
%team__name {
  color: $name;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
  margin-top: 30px;
}
%titles {
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: $promo_title;
  align-items: center;
}
%btn {
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
  border: none;
  width: 216px;
  height: 50px;
  display: block;
  margin: 0 auto;
}