%feature__item {
  font-style: normal;
  font-weight: 350px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: $item_p;
}
%team__subtitle {
  color: $subtitle;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
  margin-top: 10px;
}
%team__name {
  color: $name;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
  margin-top: 30px;
}
%footer__email_telephone {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
%titles {
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: $promo_title;
  align-items: center;
}
%footer__telegram_title {
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  color: $title;
}
