.cards {
  padding: 50px 0 94px 0;
  @media (max-width: 768px) {
    padding: 30px 0 60px 0;
  }
  &__list {
    display: flex;
    justify-content: center;
    gap: 30px;
    @media (max-width: 1200px) {
      flex-wrap: wrap;
    }
  }
  &__item {
    width: 370px;
    height: 404px;
    background: $white;
    border: 1px solid $white_border;

    @media (max-width: 768px) {
      width: 450px;
    }
    @media (max-width: 1200px) {
      width: 354px;
    }
    @media (max-width: 480px) {
      width: 100%;
    }
  }
  &__descr {
    margin-top: 20px;
  }
  &__link {
    margin-left: 24px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: $white;
  }
  &__name {
    margin-top: 4px;
    margin-left: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: $grey;
  }
}
