.customers {
  padding: 94px 0px;
  a {
    display: block;
    border-radius: 4px;
    border: 1px solid $grey_link;
    width: 170px;
    height: 92px;
    box-sizing: border-box;
    padding: 16px 32px;
    &:hover,
    &:hover path {
      border-color: $blue;
      fill: $blue;
    }
  }
  &__list {
    display: flex;
    padding: 0px;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
    @media (max-width: 768px) {
      flex-wrap: wrap;
      padding: 0;
    }
    @media (max-width: 480px) {
      flex-wrap: wrap;
    }
  }
  &__title {
		@extend %titles;
    @media (max-width: 768px) {
      font-size: 28px;
    }
  }
}
