.feature {
  padding: 34px 0 34px;
  @media (min-width: 768px) {
    padding: 60px 0 60px 0;
  }

  &__list {
    display: flex;
    padding: 0px;
    justify-content: center;
    gap: 30px;
    @media (min-width: 480px) {
      padding: 0;
    }
    @media (min-width: 768px) {
      padding: 0;
      flex-wrap: wrap;
    }
  }
  &__item {
    width: 270px;
    > h3 {
      @include text(14px, 700, 0.03em);
      color: $black;
    }
    > p {
      @include text(14px, 400, 0.42px);
      line-height: 24px;

    }
    @media (min-width: 768px) {
      width: 354px;
    }
  }
}
