.feature {
	padding: 34px 0 34px;
	height: 248px;
	&__list {
		display: flex;
		padding: 0px;
		justify-content: center;
		gap: 30px;
	}
	&__item {
		width: 270px;
		list-style-type: none;
		> h3 {
			font-family: "Roboto";
			font-style: normal;
			font-weight: 700;
			font-size: 14px;
			line-height: 16px;
			letter-spacing: 0.03em;
			text-transform: uppercase;
			color: $item_title;
		}
		> p {
			@extend %feature__item;
		}
	}
}