.filters {
  &__btn_list {
    text-align: center;
    display: flex;
    justify-content: space-between;
  }

  &__btn_item button {
    color: $btn_item;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 162.5% */
    letter-spacing: 0.48px;

    border-radius: 4px;
    background: #f5f4fa;

    width: 125px;
    height: 38px;
    border: none;
  }

  &__btn_item button:hover {
    color: $btn_item_hover;
  }
}
