.footer {
  padding: 60px 0 60px 0;
  background: $background;
  &__logo {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: $logo;
  }
  &__contacts {
    margin-top: 12px;
  }
  &__wrapper {
    display: flex;
    gap: 70px;
  }
  &__address {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: $address;
  }
  &__email_telephone {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  &__title {
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
    color: $title;
  }
  &__us {
    display: flex;
    padding: 0px;
    gap: 10px;
    li > a {
      background: rgba(255, 255, 255, 0.1);
      display: block;
      height: 44px;
      width: 44px;
      position: relative;
      border-radius: 100%;
      > svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  a:hover,
  &__us a:hover path {
    fill: $us;
    color: $hover;
  }
  &__team_apps_link {
    display: block;
    width: 44px;
    height: 44px;
    position: relative;
    border-radius: 100%;
    &:hover i {
      color: $hover_i;
    }
    i {
      color: $team_apps_link_i;
      font-size: 22px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    &:hover {
      color: $hover_i;
      background-color: $hover;
    }
  }
  &__telegram_title {
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
    color: $title;
  }
  &__telegram input[type="email"] {
    margin: 0;
    padding: 15px 0 15px 16px;
    display: flex;
    width: 358px;
    height: 50px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.48px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(33, 150, 243, 0);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  }
  &__telegram_btn {
    color: $telegram_title;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    background: $telegram_btn_background;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: none;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    width: 200px;
    height: 50px;
  }
  &__telegram_box {
    display: flex;
    gap: 12px;
    margin-top: 20px;
  }
  &__span {
    color: $span;
  }
}
