a {
  text-decoration: none;
}
li {
  list-style: none;
  padding: 0;
}

.animations {
  transition: all 1s ease 0s;
  background-color: peru;
  display: flex;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 2px;
  align-items: center;
  justify-content: center;
}
.animations:hover {
  transform: rotate3d(0, 10, 5, 50deg) translate3d(10px, 50px, 50px);
}
