.what_we_do_img {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 50px 0px 94px;
}

.what_we_do_title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;

  padding: 94px 0px 50px;
  align-items: center;
}