.work {
  padding: 94px 0 94px;
  @media (max-width: 768px) {
    display: none;
    padding: 0;
  }
  &__list {
    display: flex;
    justify-content: center;
    padding: 0;
    gap: 10px;
    margin-top: 50px;
  }
  &__title {
    @extend %titles;
  }
  &__items_p {
    color: $white;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    width: 370px;
    height: 70px;
    flex-shrink: 0;
    background: rgba(47, 48, 58, 0.8);
    margin-top: 225px;
    margin-left: -370px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
