li {
  text-decoration: none;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.header_bloks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: #000101;
}
span {
  color: #2196f3;
}
.header_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 510px;
}
.menu_link {
  width: 280px;
  display: flex;
  justify-content: space-between;
}
.menu_contact {
  width: 306px;
  display: flex;
  justify-content: space-between;
}
.promo {
  padding: 200px 0px;
  background: url(../img/Img.png) center/cover no-repeat;
}
.promo_title {
  color: aliceblue;
}
h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}
.btr {
  font-family: "Roboto";
  position: absolute;
  width: 216px;
  height: 50px;
  left: 594px;
  top: 427px;
  
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #FFFFFF;
  border: none;
}
.feature_items {
  display: flex;
  padding: 0px;
  justify-content: space-between;
  align-items: flex-start;
  
}
.feature_item {
  width: 270px;
  list-style-type: none;
}
.feature_item > h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}
.feature_item > p {
    font-family: 'Roboto';
font-style: normal;
font-weight: 350px;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;

color: #757575;

}
.feature {
    padding: 34px 0 34px;
}
.h2 {
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;

color: #212121;

padding: 94px 0px 50px;
align-items: center;
}
.foto {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 50px 0px 94px;
}
footer {
    background-color: #2f303a;

}
.adress1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    
    letter-spacing: 0.03em;
    
    color: #FFFFFF;
}
.adress2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    
    letter-spacing: 0.03em;
    
    color: rgba(255, 255, 255, 0.6);
    
}
.adress3 {
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    
    letter-spacing: 0.03em;
    
    color: rgba(255, 255, 255, 0.6);
    
}
li {
    text-decoration: none;
 list-style: none;
}

a {
  text-decoration: none;
}

.sjsj {
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.feuture_item {
  box-sizing: border-box;
  width: 370px;
height: 404px;
background: #FFFFFF;
border: 1px solid #EEEEEE;
}
.feuture_item img {
  width: 370px;
  height: 294px;
}
.feuture_item a {
  margin-left: 24px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;
/* identical to box height, or 200% */

letter-spacing: 0.06em;

color: #212121;
}
.feuture_item h4 {
  margin-top: 4px;
  margin-left: 24px;
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */

letter-spacing: 0.03em;

color: #757575;
}
.deckr {
  margin-top:20px;
}

/* .tinu {
  box-shadow: 10px 10px 20px 10px green;
} */

.animations {
  transition: all 1s ease 0s;
    background-color: peru;
    height: 150px;
    width: 150px;
    display: flex;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2px;
    align-items: center;
    justify-content: center;
}

.animations:hover {
  transform: rotate3d(0, 10, 5, 50deg) translate3d(10px, 50px, 50px);
}

.team_2 {
  box-sizing: border-box;
  width: 350px;
background: #FFFFFF;
border: 1px solid #EEEEEE;
}

.team_2 img {
  width: 300px;
  height: 294px;
}

.team_2 h3 {
  margin-left: 24px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
}

.team_2 h2 {
  margin-left: 24px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px
}

.posttiii {
  text-align: center;
}

.boxxx{
  border:rgba(255, 255, 255, 0.6)
}


.team_social {
  display: flex;

}

.team_social li {
  background: #FFFFFF;
  height: 44px;
  width: 44px;
  position: relative;
  border-radius: 100%;
}

.team_social li>a>svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.team_social li:hover, .team_social li:hover path {
  fill: #ffffff;
  background-color:#2196f3;
}

.contacts {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #212121;
}

.contact_us {
  display: flex;
  padding: 0px;
  gap: 10px;
}

.contact_us li>a {
  background: rgba(255, 255, 255, 0.1);
  display: block;
  height: 44px;
  width: 44px;
  position: relative;
  border-radius: 100%;
}

.contact_us li>a>svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.contact_us a:hover, .contact_us a:hover path {
  fill: #FFFFFF;
  background-color:#2196f3;
}

.contact_title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  
  color: #FFFFFF;

  
}

.footer_wrapper {
  display: flex;
  gap: 70px;
}


.postiini_client { 
  display: flex;
  width: 1170px;
  height: 184px;
  gap: 6px;
  justify-content: space-around;
  list-style: none;
  padding: 50px 0px 94px;
}

.customers a {
  display: block;
  border-radius: 4px;
  border: 1px solid #AFB1B8;
  width: 170px;
  height: 92px;
  box-sizing: border-box;
  padding: 16px 32px;

}

.customers_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin-top: 50px;
}

.customers a:hover, .customers a:hover path {
  border-color: #2196F3;
  fill: #2196F3;
}

.title_costum {
  font-family: Roboto;
  text-align: center;
}

.customers {
  padding: 94px 0px;
}

.telegram_title {
  color: #FFF;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-top: 12px;
}

.telegram input[type="email"] {
  margin: 0;
  padding: 15px 0 15px 16px;
  display: flex;
  width: 358px;
  height: 50px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;

  color: rgba(255, 255, 255, 0.60);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  letter-spacing: 0.48px;

  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.30);
  background: rgba(33, 150, 243, 0.00);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.telegram_btn {
  display: flex;
  padding: 10px 28px 10px 28px;
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;

  border-radius: 4px;
  background: #2196F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  align-items: center;
  gap: 10px;
}

.telegram_box {
  display: flex;
  gap: 12px;
  margin-top: 20px;
}

.footer {
  padding: 60px 0 60px 0;
}

.footer_contacts {
  margin-top: 12px;
}


.menu_item a {
  position: relative;
  transition: 0.5s;
}

.menu_item a::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196F3;
  bottom: -28px;
  position: absolute;
  transform: rotateY(90deg);
  transition: 0.5s;
}

.menu_item a:hover::after {
  transform: rotate(0deg);
  content: '';
}

.menu_item a:hover {
  color: #2196F3;
}

.menu_link_active a {
  color: #2196F3;
  position: relative;
}

.menu_link_active a::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196F3;
  bottom: -28px;
  position: absolute;
}