li {
  text-decoration: none;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
span {
  color: #2196f3;
}

h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}


.h2 {
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;

color: #212121;

padding: 94px 0px 50px;
align-items: center;
}
.foto {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 50px 0px 94px;
}
footer {
    background-color: #2f303a;

}
.adress1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    
    letter-spacing: 0.03em;
    
    color: #FFFFFF;
}
.adress2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    
    letter-spacing: 0.03em;
    
    color: rgba(255, 255, 255, 0.6);
    
}
.adress3 {
    
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
    
  letter-spacing: 0.03em;
    
  color: rgba(255, 255, 255, 0.6);
    
}
li {
  text-decoration: none;
  list-style: none;
}

a {
  text-decoration: none;
}

.porfolio_btn_list {
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.feuture_item {
  box-sizing: border-box;
  width: 370px;
  height: 404px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
}
.feuture_item img {
  width: 370px;
  height: 294px;
}
.feuture_item a {
  margin-left: 24px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;

  color: #212121;
}
.feuture_item h4 {
  margin-top: 4px;
  margin-left: 24px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 188% */

  letter-spacing: 0.03em;

  color: #757575;
}
.deckr {
  margin-top:20px;
}

/* .tinu {
  box-shadow: 10px 10px 20px 10px green;
} */

.animations {
  transition: all 1s ease 0s;
    background-color: peru;
    height: 150px;
    width: 150px;
    display: flex;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2px;
    align-items: center;
    justify-content: center;
}

.animations:hover {
  transform: rotate3d(0, 10, 5, 50deg) translate3d(10px, 50px, 50px);
}

.team {
  background: #F5F4FA;
  min-height: 708px;
  padding: 94px 0;
}

.team_title {
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}

.team_card {
  width: 270px;
  height: 428px;
  border-radius: 0px 0px 4px 4px;
  background: #FFF;

  /* material shadow v1 */
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.team_img {
  width: 100%;
  height: 260px;
}

.team_name {
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
  margin-top: 30px;
}

.team_subtitle {
  color: #757575;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
  margin-top: 10px;
}

.team_apps_link {
  display: block;
  width: 44px;
  height: 44px;
  position: relative;
  border-radius: 100%;
}

.team_apps_link i {
  color: #AFB1B8;
  font-size: 22px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.team_apps_link:hover i {
  color: #fff;
}

.team_social {
  display: flex;
  justify-content: center;
  padding: 0;
  gap: 10px;
}

.team_cards {
  display: flex;
  justify-content: space-between;
  padding: 0;
  align-items: center;
}

.posttiii {
  text-align: center;
}

.boxxx{
  border:rgba(255, 255, 255, 0.6)
}


.team_social {
  display: flex;
}

.team_social li {
  background: #FFFFFF;
  height: 44px;
  width: 44px;
  position: relative;
  border-radius: 100%;
}

.team_social li>a>svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.team_social li:hover, .team_social li:hover path {
  fill: #ffffff;
  background-color:#2196f3;
}

.contacts {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #212121;
}

.contact_us {
  display: flex;
  padding: 0px;
  gap: 10px;
}

.contact_us li>a {
  background: rgba(255, 255, 255, 0.1);
  display: block;
  height: 44px;
  width: 44px;
  position: relative;
  border-radius: 100%;
}

.contact_us li>a>svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.contact_us a:hover, .contact_us a:hover path {
  fill: #FFFFFF;
  background-color:#2196f3;
}

.contact_title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  
  color: #FFFFFF;

  
}

.footer_wrapper {
  display: flex;
  gap: 70px;
}


.postiini_client { 
  display: flex;
  width: 1170px;
  height: 184px;
  gap: 6px;
  justify-content: space-around;
  list-style: none;
  padding: 50px 0px 94px;
}

.customers a {
  display: block;
  border-radius: 4px;
  border: 1px solid #AFB1B8;
  width: 170px;
  height: 92px;
  box-sizing: border-box;
  padding: 16px 32px;

}

.customers_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin-top: 50px;
}

.customers a:hover, .customers a:hover path {
  border-color: #2196F3;
  fill: #2196F3;
}

.title_costum {
  font-family: Roboto;
  text-align: center;
}

.customers {
  padding: 94px 0px;
}

.telegram_title {
  color: #FFF;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-top: 12px;
}

.telegram input[type="email"] {
  margin: 0;
  padding: 15px 0 15px 16px;
  display: flex;
  width: 358px;
  height: 50px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;

  color: rgba(255, 255, 255, 0.60);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  letter-spacing: 0.48px;

  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.30);
  background: rgba(33, 150, 243, 0.00);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.telegram_btn {
  display: flex;
  padding: 10px 28px 10px 28px;
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;

  border-radius: 4px;
  background: #2196F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  align-items: center;
  gap: 10px;
}

.telegram_box {
  display: flex;
  gap: 12px;
  margin-top: 20px;
}

.footer {
  padding: 60px 0 60px 0;
}

.footer_contacts {
  margin-top: 12px;
}

.portfolio_btn_item button{
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  letter-spacing: 0.48px;

  border-radius: 4px;
  background: #F5F4FA;

  width: 125px;
  height: 38px;
  border: none;
}

.portfolio_btn_item button:hover {
  color: #2196F3;
}

.footer_address {
  color: #FFF;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}

.footer_email {
  color: rgba(255, 255, 255, 0.60);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}

.footer_telephone {
  color: rgba(255, 255, 255, 0.60);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}